body {
	font-family: sans-serif;
}
.container {
    position: relative;
	margin: 0 auto;
    width: 1020px;
}
#map {
    clear: both;
    height: 400px;
    margin: 0 auto;
}
#legend {
	margin-top: 1em;
}
#legend label {
	cursor: pointer;
	margin-right: 1em;
}
#legend label img {
	height: 1em;
	margin-right: 0.2em;
}
#legend label.disabled {
	opacity: 0.5;
}

#popupDetails {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    margin: 10px 50px;
    /*padding: 5px 10px;*/
    /*margin-left: 40px;*/
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.7 opacity */
    background: rgba(0, 0, 0, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    height: 380px;
    color: #fff;
    z-index: 1001;
}

#popupContent {
    padding: 5px 10px;
}

#popupContent .close-button {
    /*float: right;*/
    display: none;
}

.popup-img-container,
.popup-text-container {
    height: 355px;
    float: left;
    width: 225px;
}


.popup-img-container {
    margin-top: 5px;
    overflow-x: hidden;
    border: 3px solid #fff;
}

.popup-text-container{
    overflow-y: scroll;
    padding: 10px;
}

#popupContent h3 {
    margin-top: 0;
}

#popupContent p {
    /*padding: 0 10px;*/
}

.popup-img-container img {
    /*width: 200px;*/
    width: auto;
    height: 100%;
}